{% include 'simple/base.html' %}


<div class="container">

  <div class="simple">
		<h1>Rate Books</h1>
		<p class="lead">Please rate as many books as possible to get the best recommendation for you.</p>
		<p class="lead"> 
		   <img src={{img_url}} class="img-fluid" alt="Responsive image">
		   <br/>{{author}}
		   <br/>{{title}}
		   <br/>Input review:
    	</p>
    	<p class="lead"> 
		   <img src={{img_url}} class="img-fluid" alt="Responsive image">
		   <br/>{{author}}
		   <br/>{{title}}
		   <br/>Input review:
    	</p>
    	<p class="lead"> 
		   <img src={{img_url}} class="img-fluid" alt="Responsive image">
		   <br/>{{author}}
		   <br/>{{title}}
		   <br/>Input review:
    	</p>
    
	</div>

</div><!-- /.container -->

{% include 'simple/footer.html' %}
